APP_NAME=Omega
APP_VERSION=2.0.0
APP_KEY=
APP_URL=http://localhost
APP_ENV=dev
APP_DEBUG=true
APP_TIMEZONE=Europe/Rome

BCRYPT_ROUNDS=12

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_CHARSET=utf8mb4
DB_USER=root
DB_PASS=
DB_NAME=
DB_DATABASE=database.sqlite

CACHE_STORAGE=file
CACHE_PREFIX=omega_
CACHE_SECONDS=31536000

TERMINAL_COLUMNS=100

 # Filesystem Section
FILESYSTEM_DISK=local
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_TOKEN=
AWS_DEFAULT_REGION=
AWS_BUCKET=
FTP_HOST=
FTP_ROOT=
FTP_USERNAME=
FTP_PASSWORD=
FTP_PASSIVE=
FTP_CREATE=
FTP_MODE=
FTP_SSL=
FTP_TIMEOUT=
FTP_UTF8=

# Redis Section
REDIS_CONNECTION=default
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_TIMEOUT=0

# Memcached Section
MEMCACHED_HOST=127.0.0.1
MEMCACHED_PORT=11211
