includes:
    - vendor/tomasvotruba/type-coverage/config/extension.neon
parameters:
    level: 10
    tmpDir: cache/phpstan
    bootstrapFiles:
        - tests/bootstrap.php
    type_coverage:
        return_type: 100
        param_type: 100
        property_type: 100
        constant_type: 100
    paths:
        - app
        - tests
